*{
    margin: 0;
    padding: 0;
}
/*Comienzo estilos para paginas maquetadas con BT*/
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFC61A;
}
/*Ajuste navegadores*/
html { 
    line-height: 1.15; /* Correct the line height in all browsers */ 
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */ 
    }

/*Estilos del NavBar*/
.fondo-amarillo{
    background-color: rgb(255,198,26,.8) !important;
    border-left: 3px solid #B51622;
}
.nav-misestilos{
    background-color: rgb(255,198,26) !important;
    font-weight: 400;
    font-size: 0.9rem;
    color: #252525;
    text-decoration: none;
}
.miestilo-cp{
    font-weight: 400;
    font-size: 0.9rem;
    color: #252525;
}
.miestilo-cp:hover{
    background-color: inherit;
}
.dropdown-item:active{
    color: #FBF3E6;
}
.menu-estilo{
    color: #252525 !important;
}
.menu-estilo:hover{
    color: inherit !important;
}
/*Hover para la barra de navegación*/
nav a:hover{
    border-bottom: 3px solid #B51622;
}

/*Estilos header*/
.imagen-header{
    width: 30% !important;
    padding: 1%;
}
.bg-amarillo{
    background-color: #FFC61A;
}

/*Video + slogan*/
section.section1{
    background-color: #FBF3E6;
    width: 100%;
    overflow: hidden;
}
.video-container{
    width: 100%;
    overflow: hidden;
}
.video-tamaño{
    width: 100%;
}
section .container-fluid{
    padding-right: 0;
    padding-left: 0;
}

/*Estilos para carousel de fotos*/
.carousel-item img{
    width: 40% !important;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-carousel{
    background-color: #FBF3E6;
}
.carousel-item{
    background-color: #FBF3E6;
}

/*Estilos de seccion Nosotros*/
section.section3{
    background-color: #B51622;
    padding: 2%;
}
.pizza-container{
    width: 30%;
}
.tamaño-pizza{
    width: 100%;
    border: 1px solid #FBF3E6;
}
.Gourmet-container{
    width: 20%;     
    color: #FBF3E6;
}
.tamaño-letra{
    font-size: 1rem;
    font-weight: 700;
}
.nos-container{
    width: 35%;
    background-color: #FBF3E6;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_nos{
    text-decoration: none;
    color: #B51622;
}
.tamaño-nos{
    font-size: 1rem;
}
/*Estilos footer*/
.footer{
    background-color: #FFC61A;
    margin: 0;
    padding: 0;
}
.form-container{
    width: 50%;
    margin: 0.5%;
    color: #B51622;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}
.caja-mail{
    width: 100%;
    background-color: inherit;
    border-bottom: 1px solid #B51622;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
    font-size: 1rem;
    padding: 1%
}
::placeholder{
    color: #252525;
    opacity: 0.6;
}
.boton{
    border-style: none;
    background-color:inherit;
    border-bottom: 1px solid #B51622;
    margin-top: 2%;
    color: #B51622;
    font-size: 1.2rem;
}
.boton:hover{
    font-size: 1.2rem;
}
.m-p-0{
    margin-top: 0;
    padding-bottom: 0;
}

/*Estilos pagina nosotros*/
.nosotros{
    background-color: #FBF3E6;
}
.border-verde{
    border-top: 2px solid #006847;
    border-bottom: 2px solid #006847;
    text-align: center;
}
section .container{
    margin-bottom: 2%;
    margin-top: 2%;
}

/*Estilos pagina contacto*/
.contacto{
    background-color: #FBF3E6;
}
.ubicacion{
    background-color: #006847;
    color: #FBF3E6;
    text-align: center;
    padding:3%;
}
.tamaño-mapa{
    width: 100%;
    padding: 2%;
}
.tamaño-completo{
    width: 100%;
}
.caja-verde{
    border-style: none;
    background-color: #006847;
    opacity: 0.6;
    margin: 1%;
    font-size: 1rem;
}
.boton-contacto{
    border-style: none;
    background-color: inherit;
    border: 1px solid #006847;
    color: #252525;
    font-size: 0.8rem;
}
.boton-contacto:hover{
    font-size: 0.9rem;
}

/*Estilos para nuestras pizzas*/
.nuestrasPizzas{
    background-color: #FBF3E6;
}
.estilos-np{
    background-color: #B51622;
    color: #FBF3E6;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.np-textos{
    color: #B51622;
    font-weight: 700;
    text-align: center;
}

/*Estilos promociones*/
.promociones{
    background-color: #FBF3E6;
}
.estilos-promo{
    background-color: #B51622;
    color:#FBF3E6;
    text-align: center;
    font-weight: 700;
    padding: 2%;
}
.margin-cp{
    margin: 1%;
}
.tamaño-cp{
    width: 30%;
}
/*Media queris tablet*/
@media screen and (min-width:576px){
    .tamaño-letra{
        font-size: 2rem;
    }
    .nos-container{
        width: 25%;
        height: 20%;
    }
    .tamaño-nos{
        font-size: 1.5rem;
    }    
}
/*Media queris Desktop*/
@media screen and (min-width:992px){
    .imagen-header{
        width: 20% !important;
    }
    .nav-misestilos{
        font-weight: 600;
        font-size: 1.2rem;
    }
    .miestilo-cp{
        font-weight: 600;
        font-size: 1.2rem;
    }
    .tamaño-letra{
        font-size: 3rem;
    }
    .nos-container{
        width: 20%;
        height: 10%;
    }
    .tamaño-nos{
        font-size: 2rem;
    }   
}
/*Media queris Desktop grande*/
@media screen and (min-width:1200px){
    .tamaño-letra{
        font-size: 4rem;
    }
}
/*Fin estilos para la maquetación con BT*/









