//Variables
$cero:0;
$cien:100%;
$font-1:'Open Sans';
$font-2:'Yellowtail';
$color-amarillo: #FFC61A;
$color-rojo: #B51622;
$color-blanco: #FBF3E6;
$color-negro: #252525;
$borde-rojo: 1px solid #B51622;

//Maquetación del header con grid layout
header{
    display: grid;
    //Mobile first
    grid-template-areas: 
    "header-logo"
    "header-gourmet"
    "header-navBar"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: $cien;
    height: auto;
    .header-logo{
        grid-area: header-logo;
        background-color: $color-amarillo;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1%;
        img{
            width: 40%;
        }
    }
    .header-gourmet{
        grid-area: header-gourmet;
        background-color: $color-amarillo;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1%;
        @media screen and (max-width: 485px){
            justify-content: center;
            align-items: center;
        }
        img{
            width: 40%;
        }
    }
    nav{
        grid-area: header-navBar;
        background-color: $color-amarillo;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    @media screen and (min-width:576px){
        display: grid;
        grid-template-areas: 
        "header-navBar header-logo header-gourmet"
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}