//Import

@import "grillaHeader";
@import "../scss/componentes/variables";
@import "../scss/componentes/listas";
@import "../scss/componentes/mixins";
@import "../scss/componentes/extends";
@import "../scss/componentes/maps";





//Anidación de la pagina nuestras pizzas
*{
    margin: $cero;
    padding: $cero;
}
html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body{
    width:$cien;
    height: auto;
    margin: $cero;
    font-family: $font-1;
    background-color: nth($colores,3);
 //Estilos de los navBar compartidos
    .navBar2{
        visibility: hidden;
    }
    nav{
        div{
            .btn{
                color: nth($colores,4);
            }
            .btn-secondary{
                @extend %sincolor;
                border:$sinColor;
                font-weight: 600;
                font-size:$font-size1;
                &:active{
                    @extend %sincolor;
                    color: nth($colores,2);
                }
                &:focus{
                    box-shadow: $sinColor;
                    @extend %sincolor;
                    color: nth($colores,4);
                }
                &:hover{
                    @extend %sincolor;
                    color: nth($colores,4);
                    box-shadow: $boton-sombra;
                }
                &:active:focus{
                    box-shadow: none;
                    box-shadow:$boton-sombra;
                    color: nth($colores,2);
                }
                @media screen and (min-width:576px) {
                    font-size: 0.8rem;
                }
                @media screen and (min-width:992px){
                    font-size: $font-size1;
                }
            }
            .mi-estilo-dropdownMenu{
                background-color: #FFC61A;
                color: nth($colores,4);
                font-style: italic;
                li{
                    a{
                        text-decoration: none;
                        color: nth($colores,4);
                        &:active{
                            @extend %sincolor;
                            color: nth($colores,2);
                        }
                        &:hover{
                            border-bottom: $borde-rojo;
                            @extend %sincolor;
                        }
                    }
                }
            }
        a{
            text-decoration: none;
            color: nth($colores,4);
            @media screen and (min-width:576px) {
                font-size: 0.8rem;
            }
            &:hover{
                color: nth($colores,4);
            }
            @media screen and (min-width:992px){
                font-size: $font-size1;
            }
            }
        }
    }
    //Media queris tablet
    @media screen and (min-width:576px) {
        .navBar2{
            visibility: visible;
        }
        .navBar1{
            visibility: hidden;
        }
    }
    //Estilos section
    section{
        .estilos-np{
            border-bottom: $borde-rojo;
            color: nth($colores,2);
            text-align: center;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .np-textos1{
            color: map-get($nombrePizzas, color2);
            font-size: map-get($nombrePizzas, tamaño);
            text-align:  map-get($nombrePizzas, centro);
            font-weight:  map-get($nombrePizzas, peso);
            font-family:  map-get($nombrePizzas, familia);
        }
        .np-textos2{
            color: map-get($nombrePizzas, color1);
            font-size: map-get($nombrePizzas, tamaño);
            text-align:  map-get($nombrePizzas, centro);
            font-weight:  map-get($nombrePizzas, peso);
            font-family:  map-get($nombrePizzas, familia);
        }
    }
    //Estilos footer
    footer{
        background-color: nth($colores,1);
        width: $cien;
        margin: $cero;
        padding: $cero;
        height: 20%;
        .form-container{
            width: 50%;
            margin: 0.5%;
            color: nth($colores,2);
            font-weight: 700;
            font-size: $font-size1;
            text-align: center;
            padding: 1%;
        }
        .caja-mail{
            width: $cien;
            background-color: $sinColor;
            border-bottom: $borde-rojo;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-top: 2%;
            font-size: $font-size1;
            padding: 1%;
            &::placeholder{
                color: nth($colores,4);
                opacity: .8;
                text-align: center;
            }
        }
        .boton{
            border-style: none;
            background-color: $sinColor;
            border-bottom: $borde-rojo;
            margin-top: 2%;
            color: nth($colores,2);
            font-size: $font-size1;
            font-weight: 600;
            &:hover{
                font-size: 1.3rem;
            }
        }
        .c-p{
            padding: 1%;
            color: nth($colores,2);
            font-weight: 500;
        }
    }
}


