//Import

@import "../scss/componentes/grillaHeader";
@import "../scss/base/variables";
@import "../scss/base/extends";
@import "../scss/base/mixins";
@import "../scss/base/listas";
@import "../scss/base/maps";
@import "../scss/componentes/grilla-index";
@import "../scss/componentes/contacto";
@import "../scss/componentes/nuestras-pizzas";
@import "../scss/componentes/promociones";
@import "../scss/componentes/nosotros";


*{
    margin: $cero;
    padding: $cero;
    box-sizing: border-box;
}
html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body{
    width:$cien;
    height: auto;
    margin: $cero;
    font-family: $font-1;
    background-color: nth($colores,3);
 //Estilos de los navBar compartidos
    .navBar2{
        visibility: hidden;
    }
    nav{
        div{
            .btn{
                color: nth($colores,4);
            }
            .btn-secondary{
                @extend %sincolor;
                border:$sinColor;
                font-weight: 600;
                font-size:$font-size1;
                &:active{
                    @extend %sincolor;
                    color: nth($colores,2);
                }
                &:focus{
                    box-shadow: $sinColor;
                    @extend %sincolor;
                    color: nth($colores,4);
                }
                &:hover{
                    @extend %sincolor;
                    color: nth($colores,4);
                    box-shadow: $boton-sombra;
                }
                &:active:focus{
                    box-shadow: none;
                    box-shadow:$boton-sombra;
                    color: nth($colores,2);
                }
                @media screen and (min-width:576px) {
                    font-size: 0.8rem;
                }
                @media screen and (min-width:992px){
                    font-size: $font-size1;
                }
            }
            .mi-estilo-dropdownMenu{
                background-color: #FFC61A;
                color: nth($colores,4);
                font-style: italic;
                z-index: 99;
                li{
                    a{
                        text-decoration: none;
                        color: nth($colores,4);
                        &:active{
                            @extend %sincolor;
                            color: nth($colores,2);
                        }
                        &:hover{
                            border-bottom: $borde-rojo;
                            @extend %sincolor;
                        }
                    }
                }
            }
        a{
            text-decoration: none;
            color: nth($colores,4);
            @media screen and (min-width:576px) {
                font-size: 0.8rem;
            }
            &:hover{
                color: nth($colores,4);
            }
            @media screen and (min-width:992px){
                font-size: $font-size1;
            }
            }
        }
    }
    //Media queris tablet
    @media screen and (min-width:576px) {
        .sticky{
            position: fixed;
            z-index: 5;
        }
        .navBar2{
            visibility: visible;
        }
        .navBar1{
            visibility: hidden;
        }
    }
    //Estilos section
    section{
        .estilos-np{
            border-bottom: $borde-rojo;
            color: nth($colores,2);
            text-align: center;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .np-textos1{
            color: map-get($nombrePizzas, color2);
            font-size: map-get($nombrePizzas, tamaño);
            text-align:  map-get($nombrePizzas, centro);
            font-weight:  map-get($nombrePizzas, peso);
            font-family:  map-get($nombrePizzas, familia);
        }
        .np-textos2{
            color: map-get($nombrePizzas, color1);
            font-size: map-get($nombrePizzas, tamaño);
            text-align:  map-get($nombrePizzas, centro);
            font-weight:  map-get($nombrePizzas, peso);
            font-family:  map-get($nombrePizzas, familia);
        }
    }
    //Estilos footer
    footer{
        @include tamaños ($cien,20%,20px,0);
        background-color: nth($colores,1);
        .disposicion-footer{
            margin: auto;
            @include disposicion-elementos(flex,space-around,center);
            flex-wrap: wrap;
            flex-direction: column;
            @media screen and (min-width:992px) {
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
            }
        }
        .form-container{
            @include tamaños ($cien,20%,0,0);
            @include disposicion-textos(nth($colores,2),$font-size1,700,nth($colores,1),center,$font-1);
            @media screen and(min-width:992px){
                width: 40%;
            }
        }
        .caja-mail{
            @include disposicion-textos(nth($colores,2),$font-size1,700,$sinColor,center,$font-1);
            @include tamaños (90%,auto,0,0);
            border-bottom: $borde-rojo;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-top: 5px;
            &::placeholder{
                color: nth($colores,4);
                opacity: .8;
                text-align: center;
            }
            @media screen and(min-width:992px){
                width: 50%;
            }
        }
        .boton{
            border-style: none;
            background-color: $sinColor;
            border-bottom: $borde-rojo;
            margin-top: 2%;
            color: nth($colores,2);
            font-size: $font-size1;
            font-weight: 600;
            &:hover{
                font-size: 1.3rem;
            }
        }
        .c-p{
            padding: 1%;
            color: nth($colores,2);
            font-weight: 500;
        }
        .redes{
            @media screen and(min-width:992px){
                width: 33.3%;
            }
            img{
                width: 30px;
                margin-top: 20px;
                margin-bottom: 5px;
                margin-left: 10px;
                &:hover{
                    width: 31px;
                }
                @media screen and(min-width:992px){
                    width: 40px;
                    &:hover{
                        width: 41px;
                    }
                }
            }
        }
        .boton-wsp{
            display: block;
            position: fixed;
            @include tamaños(40px,40px,0,0);
            bottom: 10px;
            right: 10px;
            z-index: 99;
            & :hover {
                @include tamaños (45px,45px,0,0);
            }
            @media screen and (min-width:576px){
                @include tamaños (80px,auto,0,0);
                bottom: 40px;
                right: 40px;
                & :hover {
                    @include tamaños (90px,90px,0,0);
                }
            }
        }
    }
}


