//Imports
@import "../base/variables";
@import "../base/listas";
@import "../base/mixins";

//Anidamiento página contacto
body{
    @include tamaños($cien,$cien,0,0);
    .contacto{
        @include tamaños(100%,100%,0,0);
        @include disposicion-elementos(flex,center,center);
        flex-direction: column;
        flex-wrap: wrap;
        .carousel-contacto{
            @include tamaños ($cien,auto,0,0);
            img{
                width: 50%;
            }
        }
        .direccion{
            @include tamaños (100%,500px,20px,0);
            background-color: nth($colores,1);
            @include disposicion-elementos(flex,center,center);
            flex-direction: row;
            flex-wrap: wrap;
            .contenedor-direccion{
                @include disposicion-elementos (flex,center,center);
                flex-direction: row;
                @include tamaños (100%,auto,0,0);
                img{
                    width: 30px;
                }
                h1{
                    @include disposicion-textos(nth($colores,2),1.5rem,600,inherit,center,$font-1);
                    @media screen and (min-width:576px){
                        font-size: 1.7rem;
                    }
                    @media screen and (min-width:800px) {
                        font-size: 2.3rem;
                    }
                }
            }
            h6{
                width: 80%;
                @include disposicion-textos(nth($colores,4),1rem,500,inherit,center,$font-1);
            }
            .mapa{
                @include tamaños(70%,70%,0,0);
                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .formulario{
            @include tamaños($cien,400px,0,0);
            @include disposicion-elementos(flex, space-around,center);
            flex-direction: column;
            flex-wrap: wrap;
            @media screen and (min-width:700px){
                flex-direction: row;
            }
        .contenedor-hola{
                @include tamaños(80%,auto,0.5em,0.5em);
                background-color: rgb(181, 22, 34);
                h3{
                    @include disposicion-textos(nth($colores,1),1rem,700,inherit,center,$font-1);
                    @media screen and (min-width:700px){
                    font-size: 1.5rem;
                    }
                    @media screen and (min-width:900px){
                        font-size: 1.8rem;
                    }
                    @media screen and (min-width:1100px){
                        font-size: 1.8rem;
                    }
                }
                @media screen and (min-width:700px){
                width: 30%;
                }
            }
        .contenedor-form{
                @include disposicion-textos(nth($colores,2),1.2rem,700,inherit,none,$font-1);
                @include tamaños($cien,auto,0.5em,0);
                @media screen and (min-width:700px){
                width: 60%;
                }
                form{
                    @include disposicion-elementos(flex,    space-around,center);
                flex-direction:     column;
                flex-wrap: wrap;
                }
                .caja-verde{
                    border-style: none;
                    background-color:nth($colores,1);
                    opacity: 0.6;
                    margin: 1%;
                    font-size: 1rem;
                }
                .tamaño-completo{
                width: 80%;
                }
                .boton-contacto{
                    @include disposicion-textos(nth($colores,2),1rem,700,inherit,none,$font-1);
                    &:hover{
                    font-size: 1.1rem;
                    }
                }
            }
        }
    }
}