//Imports
@import "../base/variables";
@import "../base/listas";
@import "../base/mixins";
//Anidamiento
main{
    display: grid;
    grid-template-areas: 
    "section1"
    "section2"
    "section3"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    overflow: hidden;
    .section1{
        grid-area: section1;
        @include tamaños($cien,auto,0,0);
        overflow: hidden;
        @include disposicion-elementos(flex,flex-start,center);
        .contenedor-video{
            @include tamaños($cien,$cien,0,0);
            overflow: hidden;
            background-color: nth($colores, 1);
            .video-tamaño{
                @include tamaños($cien,$cien,0,0);
            }
        }
        .posicion{
            position: absolute;
        }
        .contenedor-slogan{
            position: absolute;
            background-color: nth($colores, 2);
            width: 40%;
            z-index: 1;
            padding: 1%;
            margin-left: 2%;
            @media screen and (min-width:576px){
                width: 30%;
            }
            @media screen and (min-width:992px){
                width: 25%;
            }
                }
            .slogan-h1-1{
                @include disposicion-textos(nth($colores,3),1.5rem,500,nth($colores,2),center,$font-2);
                @media screen and (min-width:576px){
                    font-size: 2rem;
                }
                @media screen and(min-width:1200px) {
                    font-size: 3.5rem;
                }
            }
            .slogan-h1-2{
                @include disposicion-textos(nth($colores,2),1rem,700,nth($colores,1),center,$font-1);
                @media screen and (min-width:576px){
                    font-size: 1.2rem;
                }
                @media screen and (min-width:992px){
                    font-size: 1.5rem;
                }
                @media screen and(min-width:1200px) {
                    font-size: 2rem;
                }
            }
            .slogan-h1-3{
                @include disposicion-textos(nth($colores,1),1.2rem,800,nth($colores,2),center,$font-1);
                @media screen and (min-width:576px){
                    font-size: 1.4rem;
                }
                @media screen and (min-width:992px){
                    font-size: 1.7rem;
                }
                @media screen and(min-width:1200px) {
                    font-size: 2.2rem;
                }
            }
        }
    .section2{
        background-color: nth($colores,3);
        @include tamaños(100%,auto,0,0);
        overflow: hidden;
    }
    .section3{
        @include tamaños(100%,auto,0,0);
        background-color: nth($colores,3);
        .estrellas{
            @include disposicion-elementos (flex,space-around,center);
            .tamaño-gourmet{
                @include disposicion-textos(nth($colores,2),1.5rem,700,inherit,center,$font-2);
                width: 50%;
                margin-top: 2%;
                @media screen and (min-width:576px){
                    font-size: 1.8rem;
                }
                @media screen and (min-width:992px){
                    font-size: 2rem;
                }
                @media screen and (min-width:1200px){
                    font-size: 3rem;
                }
            }
            img{
                @include tamaños(20px,auto,0,0);
                @media screen and (min-width:576px) {
                    @include tamaños(30px,auto,1%,5px);
                }
                @media screen and (min-width:992px){
                    width: 40px;
                }
                @media screen and (min-width:1200px){
                    width: 50px;
                }
            }
        }
        .imagenes-nosotros{
            @include disposicion-elementos(flex, space-around,center);
            flex-wrap: wrap;
            flex-direction: column;
            img{
                border-radius: 5px;
                width: 40%;
                padding: 3px;
                @media screen and(min-width:992px){
                width: 30%;
                }
            }
            @media screen and (min-width:576px) {
                flex-direction: row;
                }
            }
        .disposicion-nos{
            @include disposicion-elementos(flex,center,center);
            .pizzitas{
                width: 30px;
                @media screen and (min-width:576px) {
                    width: 40px;
                }
                @media screen and (min-width:1200px) {
                    width: 50px;
                }
                margin-bottom: 5px;
            }
            a{
                text-decoration: none;
                @include disposicion-textos(nth($colores,2),1.2rem,700,nth($colores,1),center,$font-1);
                margin-top: 5px;
                margin-bottom: 5px;
                border-radius: 5px;
                padding: 3px;
                &:hover{
                    border-bottom: $borde-rojo;
                }
                @media screen and (min-width:576px) {
                    font-size: 1.5rem;
                }
                @media screen and (min-width:1200px) {
                    font-size: 2rem;
                }
            }
        }
    }
}