//Imports
@import "../base/variables";
@import "../base/listas";
@import "../base/mixins";
//Anidamiento
main{
    display: grid;
    grid-template-areas: 
    "section1"
    "section2"
    "section3"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    overflow: hidden;
    .section1{
        grid-area: section1;
        @include tamaños($cien,auto,0,0);
        overflow: hidden;
        @include disposicion-elementos(flex,flex-start,center);
        .video-icon{
            position: absolute;
            top:90%;
            left: 50%;
            svg{
                color: nth($colores,1);
                height: 40px;
                animation-name: scroll;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                animation-duration: 1s;
                animation-delay: 0s;
                @keyframes scroll {
                    0%{
                        transform: translateY(0px);
                    }
                    20%{
                        transform: translateY(12px);
                    }
                    40%{
                        transform: translateY(8px);
                    }
                    60%{
                        transform: translateY(4px);
                    }
                    80%{
                        transform: translateY(12px);
                    }
                    100%{
                        transform: translateY(0px);
                    }
                }
            }
        }
        .contenedor-video{
            @include tamaños($cien,90vh,0,0);
            overflow: hidden;
            background-color: nth($colores, 1);
            .video-tamaño{
                object-fit: cover;
            }
        }
        .posicion{
            position: absolute;
        }
        .contenedor-slogan{
            position: absolute;
            background-color: nth($colores, 2);
            width: 40%;
            z-index: 1;
            padding: 1%;
            margin-left: 2%;
            @media screen and (min-width:576px){
                width: 30%;
            }
            @media screen and (min-width:992px){
                width: 25%;
            }
            .img-slogan{
                width: 100%;
            }
        }
    }
    #section2{
        background-color: nth($colores,3);
        @include tamaños(100%,auto,0,0);
        overflow: hidden;
    }
    .section3{
        @include tamaños(100%,auto,0,0);
        background-color: nth($colores,3);
        .estrellas{
            width: 100%;
            @include disposicion-elementos(flex,center,center);
            img{
                width: 70%;
            }
        }
        .imagenes-nosotros{
            @include disposicion-elementos(flex, space-around,center);
            flex-wrap: wrap;
            flex-direction: column;
            img{
                border-radius: 5px;
                width: 40%;
                padding: 3px;
                @media screen and(min-width:992px){
                width: 30%;
                }
            }
            @media screen and (min-width:576px) {
                flex-direction: row;
                }
            }
        .disposicion-nos{
            @include disposicion-elementos(flex,center,center);
            .pizzitas{
                width: 30px;
                @media screen and (min-width:576px) {
                    width: 40px;
                }
                @media screen and (min-width:1200px) {
                    width: 50px;
                }
                margin-top: 50px;
                margin-bottom: 50px;
            }
            a{
                text-decoration: none;
                @include disposicion-textos(nth($colores,2),1.2rem,700,nth($colores,1),center,$font-1);
                margin-top: 50px;
                margin-bottom: 50px;
                border-radius: 5px;
                padding: 3px;
                &:hover{
                    border-bottom: $borde-rojo;
                }
                @media screen and (min-width:576px) {
                    font-size: 1.5rem;
                }
                @media screen and (min-width:1200px) {
                    font-size: 2rem;
                }
            }
        }
    }
}