//Import
@import "../base/variables";
@import "../base/listas";
@import "../base/mixins";
//Maquetación del header con grid layout
header{
    display: grid;
    //Mobile first
    grid-template-areas: 
    "header-logo"
    "header-gourmet"
    "header-navBar"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: $cien;
    height: auto;
    .header-logo{
        grid-area: header-logo;
        background-color: nth($colores,1);
        @include disposicion-elementos (flex,center,center);
        padding: 1%;
        img{
            width: 40%;
        }
    }
    .header-gourmet{
        grid-area: header-gourmet;
        background-color: nth($colores,1);
        @include disposicion-elementos (flex,flex-end,flex-end);
        padding: 1%;
        @media screen and (max-width: 485px){
            justify-content: center;
            align-items: center;
        }
        img{
            width: 40%;
        }
    }
    nav{
        grid-area: header-navBar;
        background-color: nth($colores,1);
        @include disposicion-elementos (flex,flex-start,flex-end);
    }
    @media screen and (min-width:576px){
        display: grid;
        grid-template-areas: 
        "header-navBar header-logo header-gourmet"
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}