$cero:0;
$cien:100%;
$font-1:'Open Sans';
$font-2:'Yellowtail';
$borde-rojo: 2px solid rgb(181,22,34,.5);
$sinColor: inherit;
$font-size1:1.2rem;
$font-size2:2.5rem;
$boton-sombra: 0 0 0 0.25rem rgb(181,22,34,.5);